$mainColor:#f9a519;

// Header

.information-block{
    display: flex;
    align-items: center;
    &__icon{
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
    }
    &__text{
        h4{
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            margin:0;
        }
        p{
            font-size: 14px;
            font-weight: 400;
            color:#666;
            margin:0;
        }
    }
}

.menu{
    background: $mainColor;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    padding: 15px 0;
    &__list{
        padding: 0;
        margin:0;
        display: flex;
        justify-content: space-between;
        li{
            list-style: none;
        }
    }
}

// Main slider

.main-slider{
    padding: 30px 0;
    &__slide{
        position: relative;
        img{
            max-width: 100%;
            z-index: 1;
        }   
    }
    &__text{
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
        top:0;
        left:0;
        z-index: 2;
        padding-left: 10%;
        p{
            font-size: 40px;
            line-height: 1.2em;
            font-weight: 700;
            margin:0;
            span{
                color:#fff;
                background: #835301;
                display: inline-block;
                line-height: 1em;
                padding: 2px 15px 5px;
                border-radius: 25px;
            }            
        }
    }
    .slick-arrow{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width:20px;
        height: 80px;
        transform: translateY(-50%);
        background: $mainColor;
        font-size: 20px;
        color:#fff;
        top:50%;
        z-index: 2;
        cursor: pointer;
        &:hover{
            background: lighten($mainColor, 10%);
        }
    }
    .slick-prev{
        left:0;
    }
    .slick-next{
        right:0;
    }
}

// Product type

.product-block{
    display: block;
    position: relative;
    text-decoration: none;
    &__link{
        position: absolute;
        top:30px;
        right:25px;
        bottom:30px;
        left:25px;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2em;
        color:#000;
        text-decoration: underline;
    }
    &:hover{
        .product-block__link{
            text-decoration: none;
        }
    }
}

.block-right-text{
    text-align: right;
}

// Own service

.own-service{
    min-height: 405px;
    background: url('../images/bg-own-service.jpg') no-repeat center;
    background-size: cover;
}

.title{
    text-align: center;
}

// Footer

.footer{
    background: url('../images/bg_footer.png') no-repeat center;
    background-size: cover;
}