$mainColor:#f9a519;

body{
    background: #f5f5f5;
}

// Header

.top-block{
    padding: 30px 0;
}

.information-block{
    display: flex;
    align-items: center;
    &__icon{
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
    }
    &__text{
        h4{
            font-size: 14px;
            line-height: 1.2em;
            font-weight: 700;
            text-transform: uppercase;
            margin:0 0 5px;
        }
        p{
            font-size: 14px;
            line-height: 1.2em;
            font-weight: 400;
            color:#666;
            margin:0;
        }
    }
}

.block_margin-left{
    margin-left: -20px;
}

.menu{
    background: $mainColor;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    &__list{
        padding: 0;
        margin:0;
        display: flex;
        justify-content: space-between;
        li{
            list-style: none;
            a{
                font-size: 16px;
                line-height: 1.2em;
                font-weight: 400;
                color:#fff;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    &__block{
        display: flex;
        align-items: center;
        justify-content: flex-end;     
    }
    &__search,&__basket{
        width: 65px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right:1px solid rgba(255,255,255,0.5);
    }
    &__search{
       border-left:1px solid rgba(255,255,255,0.5); 
    }    
}

// Main slider

.main-slider{
    padding: 30px 0;
    &__slide{
        position: relative;
        img{
            max-width: 100%;
            z-index: 1;
        }   
    }
    &__text{
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
        top:0;
        left:0;
        z-index: 2;
        padding-left: 10%;
        p{
            font-size: 40px;
            line-height: 1.2em;
            font-weight: 700;
            margin:0;
            span{
                color:#fff;
                background: #835301;
                display: inline-block;
                line-height: 1em;
                padding: 2px 15px 5px;
                border-radius: 25px;
            }            
        }
    }
    .slick-arrow{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width:20px;
        height: 80px;
        transform: translateY(-50%);
        background: $mainColor;
        font-size: 20px;
        color:#fff;
        top:50%;
        z-index: 2;
        cursor: pointer;
        &:hover{
            background: lighten($mainColor, 10%);
        }
    }
    .slick-prev{
        left:0;
    }
    .slick-next{
        right:0;
    }
}

// Product type

.product-block{
    display: block;
    position: relative;
    text-decoration: none;
    &__link{
        position: absolute;
        top:30px;
        right:25px;
        bottom:30px;
        left:25px;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2em;
        color:#000;
        text-decoration: underline;
    }
    &:hover{
        .product-block__link{
            text-decoration: none;
        }
    }
}

.block-right-text{
    text-align: right;
}

// Own service

.own-service{
    position: relative;
    height: 405px;
    background: url('../images/bg-own-service.jpg') no-repeat center;
    background-size: cover;
    .container{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.title{
    text-align: center;
    &__headline{
        font-size: 40px;
        font-weight: 700;
        color:#fff;
        line-height: 1em;
        margin:0 0 10px;
        text-transform: uppercase;
    }
    &__subtitle{
        font-size: 20px;
        font-weight: 500;
        color:#fff;
        line-height: 1.2em;
        margin:0;
    }
}

// Hot offer

.hot-offer{
    position: relative;
    padding-top: 30px;
    margin-bottom: -60px;
    z-index: 2;
}

.sentences{
    padding: 25px;
    background: #fafafa;
    &__title{
        padding-bottom: 15px;
        border-bottom:1px solid #ccc;        
        h3{
            font-size: 18px;
            font-weight: 700;
            color:#999;
            text-transform: uppercase;
            text-decoration: none;          
        }  
    }
}

.sentences-nav{
    padding-bottom: 15px;
    border-bottom:1px solid #ccc;
    &__item{
        padding-right: 30px;
        &:last-child{
            padding-right: 0;
        }
    }
    &__link{
        font-size: 18px;
        font-weight: 700;
        color:#999;
        text-transform: uppercase;
        text-decoration: none;
        &.active,&:hover{
            color:#835301;
            text-decoration: none;
        }
    }
}

.sentences-content{
    margin-left: -20px;
    margin-right: -20px;
    .wrapper{
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    &__item{
        width:calc(100%/4);
        padding: 20px 10px;
        margin:20px;
        border: 1px solid #ccc;
    }
    &__title{
        text-align: center;
        margin-top: 10px;
        h3{
            font-size: 16px;
            font-weight: 700;
            line-height: 1.2em;
            margin:0 0 5px;
        }
        p{
            font-size: 16px;
            line-height: 1.2em;
            font-weight: 400;
            color:#999;
            margin:0;
        }
    }
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width:241px;
    height: 48px;
    border-radius: 24px;
    background: #835301;
    margin:0 auto;
    font-size: 16px;
    font-weight: 700;
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    &:hover{
        color:#fff;
        text-decoration: none;
        background: lighten(#835301,5%);
    }
}

// Accessories
.accessories{
    position: relative;
    z-index: 2;
    margin-top: -60px;
    margin-bottom: -60px;
}

.sentences_with-title{
    .sentences-nav{
        border:none;
        padding:0;
        margin-top: 20px;
        &__link{
            font-size: 14px;
            font-weight: 400;
            &:hover,&.active{
                text-decoration: underline;
            }            
        }
    }    
}

// Footer

.footer{
    background: url('../images/bg_footer.png') no-repeat center;
    background-size: cover;
    padding-top: 100px;
}

.block_modify{
    padding-top: 30px;
    padding-bottom: 0;
    hr{
        height: 1px;
        background: rgba(204,204,204,1);
        border:none;
        margin-top: 30px;
        margin-bottom: 0;
    }
    .information-block__text{
        h4{
            color:#fff;
        }
    }
}

.footer_menu{
    background: none;
    box-shadow: none;
    padding: 18px 0;
    .menu__list{
      justify-content: space-around;
      a{
          font-size: 14px;
      }  
    }
}